// CUSTOM LOGIN PAGE
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

body.login {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
	@media all and (max-width: @mobile) {
		min-height: 300px;
	}
}

#login {
	width: 400px;
	padding: 8% 0 0;
	margin: 0 39% 0 auto;
}

span.diamond {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: @login-light-gray;
	position: absolute;
	top: 120px;
	left: 125px;
	display:block;
}

.login {
	position: relative;

	img {
		width: 70px;
	}

	.left {
		width: 35%;
		color: @white;
	}

	form {
		width: 55%;
		background-color: @login-light-gray;
		padding: 10px 2px;
		border-radius: 2px;

		i {
			font-size: 16px;
			right: 24px;
			top: 8px;
			color: @icon-gray;
		}

		p {
			margin: 2px auto 8px auto;
			width: 90%;
			text-align: center;
		}

		p.instruction {
			margin-top: 10px;
			margin-bottom: 15px;
		}

		.submit input {
			width: 80%;
			background-color: @orange;
			color: @white;
			border: none;
			border-radius: 2px;
			padding: 5px 0;
		}
	}

	.left, form {
		display: inline-block;
		vertical-align: top;
	}
}

.login form .input,
.login input[type="text"], .login input[type="email"] {
	font-size: 12px;
	padding: 5px;
	border-radius: 2px;
	border: none;
}

.login form .input,
.login input[type="text"],
.login form input[type="checkbox"],
.login form input[type="email"] {
	background: #fbfbfb;
}

.ie7 .login form .input,
.ie8 .login form .input {
	font-family: sans-serif;
}

.login #pass-strength-result {
	width: 250px;
	font-weight: 600;
	margin: 12px 0 6px;
	padding: 6px 5px;
	text-align: center;
}

.mobile #login {
	padding: 20px 0;
}

.mobile #login form,
.mobile #login .message,
.mobile #login_error {
	margin-left: 0;
}

.mobile #login #nav,
.mobile #login #backtoblog {
	margin-left: 8px;
}

.mobile #login h1 a {
	width: auto;
}

#login-footer {
	width: 100%;
	bottom: 10px;
}

p.message, #login_error {
	position: absolute;
	font-size: 12px;
	color: white;
	right: 5%;
	top: 20px;
}

// BULLETIN
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

#new-request {
	background-color: transparent;
	color: @orange;
	position: absolute;
	right: 0;
	top: 20px;
}


// RESOURCES
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

// General

.left-side-top {
	width: 70%;
	display: inline-block;

	h2 {
		font-weight: 700;
		color: @orange;
	}

	.description {
		color: @text-light-gray;
		margin: 10px 0;
		width: 80%;
	}
}

.select-filter {
	li {
		display: inline-block;
		font-weight: 400;
	}

	li.active {
		padding: 5px 8px;
		background-color: @main-blue;
		border-radius: 2px;
		a {
			color: @white;
		}
	}
}

.search-file {
	margin-top: 20px;
	label {
		color: @text-light-gray;
		font-weight: 400;
		position: relative;
		margin-right: 5px;
	}
	.text-input {
		border: none;
		background-color: @light-gray;
		padding: 5px;
		&:focus {
			outline: none;
		}
	}

	input[type=submit] {
		background-color: transparent;
		padding: 5px 11px;
		position: absolute;
		top: 0px;
		right: 2px;
		border: none;
	}

	i.fa-search {
		position: absolute;
		top: 8px;
		right: 9px;
		color: gray;
	}

	button {
		background-color: transparent;
		font-weight: 500;
		margin: 0 5px;

		&:hover {
			font-weight: 700;
		}
	}
}

.select-modal {
	width: 220px;
	position: absolute;
	left: 30%;
	background-color: white;
	padding: 5px 10px;
	box-shadow: 0 0 5px lightgray;
	z-index: 100;

	h3 {
		margin-top: 0;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
	}

	li a {
		font-size: 14px;
		line-height: 18px;
		padding: 3px 0;
	}
}

.left-side-bottom h3 {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 5px;
}

.contact-card {
	width: 32.5%;
	margin-right: 0.5%;
	margin-top: 1%;
	display: inline-block;
	padding: 15px;
	vertical-align: top;
	color: @white;
	height: 250px;
	overflow: hidden;

	a {
		color: @white;
	}

	p {
		margin-bottom: 2px;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}

	span {
		font-size: 14px;
		line-height: 18px;
	}

	h4 {
		font-weight: 600;
	}

	h5 {
		font-size: 16px;
		line-height: 20px;
	}
}

.info-divider {
	border-bottom: 1px solid @white;
	width: 70%;
	height: 5px;
	display: block;
	margin: 10px 0;
}

.contact-card:nth-child(odd) {
	background-color: #2eb5e2;
}

.contact-card:nth-child(even) {
	background-color: #6ccbeb;
}

//********************** END OF CONTACT


// DOCUMENTS

.left-side-bottom.documents {
	width: 70%;
	display: inline-block;
}

.document-card {
	width: 48%;
	margin-top: 1.5%;
	margin-right: 1.5%;
	background-color: gray;
	display: inline-block;
	height: 180px;
	color: @white;
	padding: 15px;
	vertical-align: top;
	position: relative;

	.type {
		position: absolute;
		left: 15px;
		bottom: 15px;
	}
	&.all {
		width: 31.5%;
	}
	img {
		bottom: 5px;
		left: 5px;
		position: absolute;
	}
	.doc-date {
		position: absolute;
		right: 15px;
		bottom: 15px;
		font-weight: 300;
	}

	&.PDF {
		background-color: #9c4242;
	}

	&.slides {
		background-color: #f89e34;
	}
	
	&.spreadsheet {
		background-color: #53b46e;
	}

	&.text {
		background-color: #20b9e6;
	}

	div.overlay {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0,0,0,0.8);
		padding: 15px;

		a {
			position: absolute;
			bottom: 15px;
		}
	}

	&:hover {
		.overlay {
			display: block;
		}	
	}
}

.right-side {
	span {
		display: block;
	}

	a.filter {
		margin-right: 2px;
		color: @text-light-gray;
		&.active {
			font-weight: bold;
		}
	}

	&.documents {
		ul {
			margin-top: 15px;
		}
		li {
			width: 100%;
			margin-bottom: 5px;
			span {
				display: inline-block;
				color: @middle-gray;
			}
		}
	}
}

//********************** END OF DOCUMENTS



// LINKS
.left-side-bottom.links {
	width: 70%;
	display: inline-block;
}

.link-card {
	background-color: #42bce5;
	color: @white;
	width: 31.5%;
	margin-right: 1%;
	margin-top: 1%;
	padding: 15px;
	display: inline-block;
	vertical-align: top;
	height: 200px;
	overflow: scroll;

	a {
		color: @white;
	}

	h4 {
		font-weight: 600;
		margin-bottom: 30px;
	}
	
	span {
		display: block;
		font-weight: 300;
	}

	span:first-child {
		max-height: 40px;
		overflow: hidden;
	}
}
.right-side {
	width: 27%;
	display: inline-block;
	top: 160px;
	position: absolute;
	right: 0;

	h2 {
		font-weight: 700;
		color: @orange;
	}

	p {
		color: @text-light-gray;
	}

	div.orange {
		background-color: @orange;
		height: 50px;
		width: 50px;
		margin-right: 3px;
	}
	div {
		display: inline-block;
		vertical-align: top;
	}

	ul li {
		margin-bottom: 20px;
		h4 {
			margin-top: 0;
			margin-bottom: 5px;
		}
	}
}

//*********************** END OF LINKS

// MODALS 
.all-modal {
	box-shadow: 0px 0px 10px #dedede;
	z-index: 100;
	border-radius: 5px;
	position: absolute;

}
.resource-modal {
	width: 500px;
	padding: 20px 30px;
	color: @text-light-gray;
	background-color: @white;
	top: 38%;
	left: 20%;
	margin-top: 15px;
	display: none;

	span.wpcf7-form-control-wrap {
		position: initial;
	}

	h4 {
		.font-md();
		font-weight: 600;
		margin-bottom: 20px;
	}
	
	form {
		height: 285px;
	}

	input, textarea, select {
		background-color: @light-gray;
		padding: 4px 8px;
		margin-left: 10px;
		border: none;
		position: absolute;
		right: 5px;
		.font-md();
		font-weight: 400;
	}
	::-webkit-input-placeholder {
	   font-weight: 300;
	}
	:-moz-placeholder { /* Firefox 18- */
	   font-weight: 300;  
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   font-weight: 300;  
	}

	textarea {
		height: 80px;
	}

	label {
		position: relative;
		display: block;
		margin: 15px 0;
		font-weight: 400;
	}

	input[type=submit] {
		color: @orange;
		background-color: transparent;
		display: block;
		margin: 5px 0 5px auto;
		position: absolute;
		right: 20px;
		bottom: 10px;
		width: 80px;
	}

	i {
		position: absolute;
		right: 100px;
	}
	
	// WPCF7
	div.wpcf7-response-output {
		text-align: center;
	}

	.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
		border-color: @main-blue;
	}
	// links
	.textarea {
		height: 80px;
	}

	&.links form {
		height: 310px;
	}

	select {
		width: 193px;
		height: 30px;
	}

	// documents
	input, textarea, select {
		background-color: @light-gray;
		padding: 5px 8px;
		margin-left: 10px;
		border: none;
		position: absolute;
		right: 5px;
		width: 275px;
		.font-md();
		font-weight: 400;
	}

	input[type=file] {
		top: 0;
	}

	&.document {
		form {
			height: 310px;
		}
	}
}

#close-doc, #close-link, #close-contact {
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: transparent;
	padding: 5px;

	i {
		right: 20px;
	}
}

// POST REQUEST MODAL

.request-modal {
	background-color: @modal-gray;
	width: 250px;
	padding: 15px;
	top: 50px;
	right: 10px;
	color: @white;
	display: none;

	input[type=submit] {
		background-color: @orange;
		padding: 5px;
		position: absolute;
		right: 15px;
		bottom: 15px;
		border-radius: 2px;
		border: none;
	}
	h4 {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 20px;
	}
	label {
		font-weight: 500;
		font-size: 14px;
		
		textarea, input {
			font-weight: 300;
			background-color: @modal-gray;
			border: none;
			padding: 5px;
			transition: all 1s ease;

			&:focus {
				border: 1px solid @white;
				outline: none;
			}
		}
		textarea {
			max-width: 100%;
			max-height: 70px;
			margin-bottom: 20px;
		}

		input {
			max-width: 100%;
			margin-bottom: 0px;
		}
		::-webkit-input-placeholder {
		   font-weight: 300;
		   color: @white
		}
		:-moz-placeholder { /* Firefox 18- */
		   font-weight: 300; 
		   color: @white;
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   font-weight: 300;
		   color: @white;
		}
	}

	button {
		padding: 5px 8px;
		border-radius: 2px;
	}

	.wpcf7-response-output {
		padding: 5px;
		color: @white;
		margin: 5px auto;
	}
}

.response-modal {
	background-color: @main-blue;
	padding: 15px 20px;
	width: 500px;

	label, h4 {
		color: @white;
		font-weight: 500;
		vertical-align: top;
	}

	h4 {
		margin-bottom: 20px;
		margin-top: 0;
		font-size: 18px;
	}

	form {
		min-height: 300px;
	}

	label {
		position: relative;
		display: block;
		margin-bottom: 15px;

		input, textarea {
			position: absolute;
			left: 110px;
			border: none;
			color: @middle-gray;
			border-radius: 2px;
			padding: 5px;
		}

		input {
			max-width: 50%
		}

		textarea {
			max-width: 70%;
			max-height: 180px;
		}

		input[type=submit] {
			background-color: @orange;
			color: @white;
			border: none;
			padding: 5px 8px;
			left: 300px;
		}

		&:nth-child(5) {
			margin-top: 165px;
		}
	}

	img, button {
		position: absolute;
		right: 20px;
	}
	img {
		top: 40px;
		max-width: 70px;
	}

	button {
		top: 10px;
		background-color: transparent;
		i {
			color: white;
		}
	}

	.wpcf7-response-output {
		color: @white;
		padding: 10px;
	}
}

.screen-reader-response {
	color: transparent;
}
// RESPOND TO REQUEST MODAL

// Contacts

.left-side-bottom.contact {
	width: 100%;
}

// CALENDAR

.left-side.events {
	width: 70%;

	h2 {
		font-weight: 500;
		color: @orange;
	}
}

.right-side.events {
	top: 200px;
}

.add-event {
	background-color: transparent;
	color: @orange;
	padding: 5px;
	font-size: 16px;
}

#calendar {
	width: 100%;
	padding: 5px;
}
table {
	width: 100%;
}

tbody {
	border: 1px solid @light-gray;
	border-radius: 2px;
}

th {
	display: block;
	text-align: right;
	h5 {
		margin: 5px auto;
	}
}
tr {
	width: 13.85%;
	margin-right: 0.5%;
	display: inline-block;
	vertical-align: top;

}

td {
	display: block;

	&.day {
		height: 250px;
		position: relative;
		border-top: 1px solid @middle-gray;
		overflow: scroll;
	}

	&.current {
		border-top: 2px solid @orange;
	}

	.date {
		position: absolute;
		right: 5px;
		top: 5px;
		font-size: 12px;
	}
}

.inactive {
	td {
		background-color: @light-gray;
	}

	&.sat {
		margin-right: 0;
	}
}

span.image {
	display: block;
	width: 100%;
	height: 40px;
	background-color: @orange;
}

td .event-list {
	margin-top: 25px;
}

.calendar-pagination {
	margin: 5px 5px 5px auto;
	text-align: right;

	i {
		padding: 5px 8px;
	}
}

//  UPCOMING

.upcoming {
	margin: 20px 0; 
	width: 90%;

	li {
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px;
		h4 {
			margin-top: 0;
		}
	}

	li:first-child {
		width: 10%;
	}

	li:nth-child(2), li:nth-child(3), li:nth-child(4) {
		width: 28%

	}

	p {
		font-weight: 300;
		color: @middle-gray;
		margin-bottom: 5px;
	}

	.image {
		height: 50px;
		width: 50px;
		background-color: blue;
	}
}

// RIGHT SIDE - SELECTED EVENT
.right-sidebar {
	color: @white;
	width: 80%;
	padding: 15px;
	border-radius: 4px;

	h2 {
		color: @white;
		margin-bottom: 20px;
		font-weight: 500;
	}

	h5 {
		text-align: center;
		margin: 20px 0 10px 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
	}
}
.selected {
	background-color: @main-blue;
	display: none!important;

	img.event {
		max-width: 100%;
		margin-bottom: 20px; 
	}
	img.small {
		max-width: 20px;
	}
	span {
		display: inline-block;
		width: 80%;
		vertical-align: top;
	}
	p {
		font-weight: 300;
		color: @white;
		text-align: center;
		margin: 2px 0 5px 0;
		font-size: 14px;
		line-height: 20px;
	}
	section {
		text-align: left;
		width: 85%;
		margin: 30px auto 20px auto;

		p {
			text-align: left;
		}
	}
}

.new-event {
	background-color: @event-gray;

	input, textarea, select {
		background-color: transparent;
		border-radius: 2px;
		border: none;
		padding: 5px;
		max-width: 100%;
		-webkit-transition: all 1s ease;

		&:focus {
			border-color: @white;
			outline: none;
		}
	}

	textarea {
		width: 100%;
		min-height: 120px;
	}

	.input-opac {
		background-color: #929292;
	}

	input[type=submit] {
		background-color: @orange;
		padding: 5px 8px;
		display: block;
		margin: 10px auto 20px auto;
	}

}