// CUSTOM LOGIN PAGE
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

body.login {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 700px;
	@media all and (max-width: @mobile) {
		min-height: 700px;
		padding: 20px;
	}
}

#login {
	width: 400px;
	padding: 8% 0 0;
	margin: 0 39% 0 auto;
}

span.diamond {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: @login-light-gray;
	position: absolute;
	top: 120px;
	left: 125px;
	display:block;

	@media all and (max-width: @mobile) {
		display: none;
	}
}

.login {
	position: relative;

	img {
		width: 70px;
	}

	.left {
		width: 35%;
		color: @white;
		@media all and (max-width: @mobile) {
			text-align: center;
			margin: 50px auto 30px auto;
		}
	}

	form {
		width: 55%;
		background-color: @login-light-gray;
		padding: 10px 2px;
		border-radius: 2px;

		i {
			font-size: 16px;
			right: 35px;
			top: 8px;
			color: @icon-gray;
		}

		p {
			margin: 2px auto 8px auto;
			width: 90%;
			text-align: center;
		}

		p.instruction {
			margin-top: 10px;
			margin-bottom: 15px;
		}

		.submit input {
			width: 80%;
			background-color: @orange;
			color: @white;
			border: none;
			border-radius: 2px;
			padding: 5px 0;
		}
	}

	.left, form {
		display: inline-block;
		vertical-align: top;
		@media all and (max-width: @mobile) {
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}

.login form .input,
.login input[type="text"], .login input[type="email"] {
	font-size: 12px;
	padding: 5px;
	border-radius: 2px;
	border: none;
}

.login form .input,
.login input[type="text"],
.login form input[type="checkbox"],
.login form input[type="email"] {
	background: #fbfbfb;
}

.ie7 .login form .input,
.ie8 .login form .input {
	font-family: sans-serif;
}

.login #pass-strength-result {
	width: 250px;
	font-weight: 600;
	margin: 12px 0 6px;
	padding: 6px 5px;
	text-align: center;
}

.mobile #login {
	padding: 20px 0;
}

.mobile #login form,
.mobile #login .message,
.mobile #login_error {
	margin-left: 0;
}

.mobile #login #nav,
.mobile #login #backtoblog {
	margin-left: 8px;
}

.mobile #login h1 a {
	width: auto;
}

#login-footer {
	width: 100%;
	bottom: 10px;
}

.message.register {
	position: absolute;
	right: 5%;
	top: 20px;
	width: 320px;
}

#login_error {
	display: none;
}

.message {
	font-size: 12px;
	color: white;
}

// BULLETIN
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

#new-request {
	background-color: transparent;
	color: @orange;
	position: absolute;
	right: 0;
	top: 20px;

	@media all and (max-width: @mobile) {
		position: initial;
		padding: 15px 5px;
	}
}

.main {
	
	@media all and (max-width: @mobile) {
		padding: 20px;
	}
}
#feed-wrapper {
	min-height: 1000px;
}

.event-preview {
	div:first-child {
		width: 50px;
		margin-right: 10px;
		img {
			width: 50px;
			height: 50px;
		}
	}
	h3 {
		margin-top: 0;
		margin-bottom: 5px;
		font-weight: 600;
	}
	p {
		margin-bottom: 5px;
	}

}

.blog-updates {
	h4 {
		font-size: 16px;
		line-height: 20px;
		font-weight: 600;
	}
}

.small-section {
	max-width: 50%;
	@media all and (max-width: @tablet) {
		max-width: 70%;
	}
	@media all and (max-width: @mobile) {
		max-width: 100%;
	}
}

.delete-request, .pin-request, .unpin-request {
	background-color: @orange;
	color: @white;
	margin-left: 40px;
	border-radius: 2px;
	@media all and (max-width: @mobile) {
		margin-left: 20px;
	}
}
// RESOURCES FEED ON BULLETIN 
.entry {
	padding: 5px 0;
	margin: 5px 0 10px 0;

	img.avatar {
		margin-right: 10px;
		max-width: 32px;
	}

	.document-card {
		margin-left: 40px;
		@media all and (max-width: @tablet) {
			width: 60%;
		}
		@media all and (max-width: @mobile) {
			width: 100%;
			margin-left: 0;
		}
	}
}
.avatar {
	border-radius: 50%;
}
// EVENTS FEED ON BULLETIN

.single-event {
	padding: 5px 0;
	margin: 5px 0 10px 0;
	@media all and (max-width: @mobile) {
		max-width: 100%;
	}

	img {
		margin-right: 10px;
	}

	.event-img-feed {
		width: 100%;
		margin-left: 40px;
		max-width: 100%;

		@media all and (max-width: @mobile) {
			margin-left: 0px;
		}
	}
}

// REQUEST FEED ON BULLETIN

.single-request {
	padding: 5px 0;
	margin: 5px 0 10px 0;

	@media all and (max-width: @mobile) {
		max-width: 100%;
	}

	img {
		margin-right: 10px;
		max-width: 32px;
	}

	.request-desc {
		width: 100%;
		margin-left: 40px;
		@media all and (max-width: @mobile) {
			margin-left: 0px;
		}
	}
	.respond-request {
		margin-left: 40px;
		@media all and (max-width: @mobile) {
			margin-left: 0px;
		}
	}

}

// RESOURCES
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

// General

.left-side-top {
	width: 70%;
	display: inline-block;
	@media all and (max-width: @tablet) {
		width: 100%;
	}

	h2 {
		font-weight: 700;
		color: @orange;
	}

	.description {
		color: @text-light-gray;
		margin: 10px 0;
		width: 80%;
		@media all and (max-width: @tablet) {
			width: 100%;
		}
	}
}

.select-filter {
	li {
		display: inline-block;
		font-weight: 400;
	}

	li.active {
		padding: 5px 8px;
		background-color: @main-blue;
		border-radius: 2px;
		a {
			color: @white;
		}
	}
	@media all and (max-width: @mobile) {
		display: none;
	}
}

.search-file {
	margin-top: 20px;
	label {
		color: @text-light-gray;
		font-weight: 400;
		position: relative;
		margin-right: 5px;
	}
	.text-input {
		border: none;
		background-color: @light-gray;
		padding: 5px;
		&:focus {
			outline: none;
		}
	}

	input[type=submit] {
		background-color: transparent;
		padding: 5px 11px;
		position: absolute;
		top: 0px;
		right: 2px;
		border: none;
	}

	i.fa-search {
		position: absolute;
		top: 8px;
		right: 9px;
		color: gray;
	}

	button {
		background-color: transparent;
		font-weight: 500;
		margin: 0 5px;

		&:hover {
			font-weight: 700;
		}
	}
}

.select-modal {
	width: 220px;
	position: absolute;
	left: 30%;
	background-color: white;
	padding: 5px 10px;
	box-shadow: 0 0 5px lightgray;
	z-index: 100;

	h3 {
		margin-top: 0;
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
	}

	li a {
		font-size: 14px;
		line-height: 18px;
		padding: 3px 0;
	}
}

.left-side-bottom h3 {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 5px;
}

.contact-card {
	width: 32.5%;
	margin-right: 0.5%;
	margin-top: 1%;
	display: inline-block;
	padding: 15px;
	vertical-align: top;
	color: @white;
	height: 250px;
	overflow: hidden;

	@media all and (max-width: @tablet) {
		width: 48%;
	}

	@media all and (max-width: @mobile) {
		width: 100%;
		margin-top: 3%;
	}

	a {
		color: @white;
	}

	p {
		margin-bottom: 2px;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
	}

	span {
		font-size: 14px;
		line-height: 18px;
	}

	h4 {
		font-weight: 600;
	}

	h5 {
		font-size: 16px;
		line-height: 20px;
	}
}

.info-divider {
	border-bottom: 1px solid @white;
	width: 70%;
	height: 5px;
	display: block;
	margin: 10px 0;
}

.contact-card:nth-child(odd) {
	background-color: #2eb5e2;
}

.contact-card:nth-child(even) {
	background-color: #6ccbeb;
}

//********************** END OF CONTACT


// DOCUMENTS

.left-side-bottom.documents {
	width: 70%;
	display: inline-block;

	@media all and (max-width: @tablet) {
		width: 100%;
	}
}

.document-card {
	width: 48%;
	margin-top: 1.5%;
	margin-right: 1.5%;
	background-color: gray;
	display: inline-block;
	height: 180px;
	color: @white;
	padding: 15px;
	vertical-align: top;
	position: relative;

	@media all and (max-width: @mobile) {
		width: 100%;
		margin-right: 0;
		margin-top: 3%;
	}

	.type {
		position: absolute;
		left: 15px;
		bottom: 15px;
	}
	&.all {
		width: 31.5%;
	}
	img {
		bottom: 5px;
		left: 5px;
		position: absolute;
	}
	.doc-date {
		position: absolute;
		right: 15px;
		bottom: 15px;
		font-weight: 300;
	}

	&.PDF {
		background-color: #9c4242;
	}

	&.Slides {
		background-color: #f89e34;
	}
	
	&.Spreadsheet {
		background-color: #53b46e;
	}

	&.Text {
		background-color: #20b9e6;
	}

	div.overlay {
		display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(0,0,0,0.8);
		padding: 15px;

		a {
			position: absolute;
			bottom: 15px;
		}
	}
	@media all and (max-width: @tablet) {
		cursor: pointer;
	}
	@media all and (min-width: @tablet) {
		&:hover {
			.overlay {
				display: block;
			}	
		}
	}
}

.show-all-files {
	display: none;
}

.show-all {
	background-color: @orange;
	color: @white;
	padding: 5px;
	margin: 30px auto;
}

.right-side {
	width: 30%;
	@media all and (max-width: @tablet) {
		width: 100%;
	}

	iframe {
		// width: 100%!important;
	}

	span {
		display: block;
	}

	a.filter {
		margin-right: 2px;
		color: @text-light-gray;
		&.active {
			font-weight: bold;
		}
	}

	&.documents {
		ul {
			margin-top: 15px;
		}
		li {
			width: 100%;
			margin-bottom: 5px;
			span {
				display: inline-block;
				color: @middle-gray;
			}
		}
		a.active {
			font-weight: 700;
		}
	}
}
#sort-alphabet {
	display: none;
}
#tag-filter-form {
	visibility: hidden;
}
//********************** END OF DOCUMENTS



// LINKS
.left-side-bottom.links {
	width: 70%;
	display: inline-block;

	@media all and (max-width: @tablet) {
		width: 100%;
	}

}

.link-card {
	background-color: #42bce5;
	color: @white;
	width: 31.5%;
	margin-right: 1%;
	margin-top: 1%;
	padding: 15px;
	display: inline-block;
	vertical-align: top;
	height: 200px;
	overflow: scroll;
	@media all and (max-width: @tablet) {
		width: 48%;
	}

	@media all and (max-width: @mobile) {
		width: 100%;
		margin-top: 3%;
	}

	a {
		color: @white;
	}

	h4 {
		font-weight: 600;
		margin-bottom: 30px;
	}
	
	span {
		display: block;
		font-weight: 300;
	}

	span:first-child {
		max-height: 40px;
		overflow: hidden;
	}
}
.right-side {
	width: 27%;
	display: inline-block;
	top: 160px;
	position: absolute;
	right: 0;

	h2 {
		font-weight: 700;
		color: @orange;
	}

	p {
		color: @text-light-gray;
	}

	div.orange {
		background-color: @orange;
		height: 50px;
		width: 50px;
		margin-right: 3px;
	}
	div {
		vertical-align: top;
	}
	
	div.links, div.orange {
		display: inline-block;
	}
	ul li {
		margin-bottom: 20px;
		h4 {
			margin-top: 0;
			margin-bottom: 5px;
		}
	}

	@media all and (max-width: @tablet) {
		width: 100%!important;
		position: initial;
		margin-top: 30px;
	}
}

#popular-sorted {
	display: none;
}
.category-filter {
	display: none;
	@media all and (max-width: @mobile) {
		display: block;
	}
	h3 {
		font-weight: 700;
	}
	button {
		background-color: @orange;
		color: white;
		padding: 5px;
		margin-right: 10px;
		border-radius: 2px; 
	}
}
//*********************** END OF LINKS

// MODALS 
.all-modal {
	box-shadow: 0px 0px 10px #dedede;
	z-index: 100;
	border-radius: 5px;
	position: absolute;

}
.resource-modal {
	width: 500px;
	padding: 20px 30px;
	color: @text-light-gray;
	background-color: @white;
	top: 38%;
	left: 20%;
	margin-top: 15px;
	display: none;


	@media all and (max-width: @mobile) {
		width: 280px;
		left: 8%;
	}

	span.wpcf7-form-control-wrap {
		position: initial;
	}

	h4 {
		.font-md();
		font-weight: 600;
		margin-bottom: 20px;
	}
	
	form {
		height: 285px;
	}

	input, textarea, select {
		background-color: @light-gray;
		padding: 4px 8px;
		margin-left: 10px;
		border: none;
		position: absolute;
		right: 5px;
		.font-md();
		font-weight: 400;
		@media all and (max-width: @mobile) {
			position: initial;
			display: block;
		}
	}
	::-webkit-input-placeholder {
	   font-weight: 300;
	}
	:-moz-placeholder { /* Firefox 18- */
	   font-weight: 300;  
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   font-weight: 300;  
	}

	textarea {
		height: 80px;
	}

	label {
		position: relative;
		display: block;
		margin: 15px 0;
		font-weight: 400;
		@media all and (max-width: @mobile) {
			position: initial;
			display: block;
			text-align: center;
		}
	}

	input[type=submit] {
		color: @orange;
		background-color: transparent;
		display: block;
		margin: 5px 0 5px auto;
		position: absolute;
		right: 20px;
		bottom: 7px;
		width: 80px;
	}

	i.fa-upload {
		position: absolute;
		bottom: 20px;
		right: 90px;
	}

	i.fa-plus {
		position: absolute;
		bottom: 20px;
		right: 90px;
	}
	
	// WPCF7
	div.wpcf7-response-output {
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 15px;
	}

	.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
		border-color: @main-blue;
	}
	// links
	.textarea {
		height: 80px;
	}

	&.links form {
		height: 310px;
		@media all and (max-width: @mobile) {
			height: 400px;
		}
	}

	select {
		width: 193px;
		height: 30px;
	}

	// documents
	input, textarea, select {
		background-color: @light-gray;
		padding: 5px 8px;
		margin-left: 10px;
		border: none;
		position: absolute;
		right: 5px;
		width: 275px;
		.font-md();
		font-weight: 400;

		@media all and (max-width: @mobile) {
			width: 85%;
			display: block;
			position: inherit;
		}
	}

	input[type=file] {
		top: 0;
	}

	&.document {
		form {
			height: 310px;
			@media all and (max-width: @mobile) {
				height: 420px;
			}
		}
	}

	&.contact {
		form {
		@media all and (max-width: @mobile) {
			height: 450px;
		}
		}
	}
}

#close-doc, #close-link, #close-contact {
	position: absolute;
	right: 20px;
	top: 20px;
	background-color: transparent;
	padding: 5px;

	i {
		right: 20px;
	}
}

// POST REQUEST MODAL

.request-modal {
	background-color: @modal-gray;
	width: 250px;
	padding: 15px;
	top: 50px;
	right: 10px;
	color: @white;
	display: none;

	input[type=submit] {
		background-color: @orange;
		padding: 5px;
		position: absolute;
		right: 15px;
		bottom: 15px;
		border-radius: 2px;
		border: none;
	}
	h4 {
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 20px;
	}
	label {
		font-weight: 500;
		font-size: 16px;
		
		textarea, input {
			font-weight: 300;
			background-color: @modal-gray;
			border: none;
			padding: 5px;
			transition: all 1s ease;
			font-size: 14px;
			line-height: 18px;

			&:focus {
				border: 1px solid @white;
				outline: none;
			}
		}
		textarea {
			max-width: 100%;
			max-height: 70px;
			margin-bottom: 20px;
		}

		input {
			max-width: 100%;
			margin-bottom: 0px;
		}
		::-webkit-input-placeholder {
		   font-weight: 300;
		   font-size: 14px;
		   color: @white
		}
		:-moz-placeholder { /* Firefox 18- */
		   font-weight: 300; 
		   font-size: 14px;
		   color: @white;
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   font-weight: 300;
		   font-size: 14px;
		   color: @white;
		}
	}

	button {
		padding: 5px 8px;
		border-radius: 2px;
	}

	.wpcf7-response-output {
		padding: 5px;
		color: @white;
		margin: 5px auto;
	}
}

.response-modal {
	background-color: @main-blue;
	padding: 15px 20px;
	width: 500px;
	display: none;

	label, h4 {
		color: @white;
		font-weight: 500;
		vertical-align: top;
	}

	h4 {
		margin-bottom: 20px;
		margin-top: 0;
		font-size: 18px;
	}

	form {
		min-height: 300px;
	}

	label {
		position: relative;
		display: block;
		margin-bottom: 15px;

		input, textarea {
			position: absolute;
			left: 110px;
			border: none;
			color: @middle-gray;
			border-radius: 2px;
			padding: 5px;
		}

		input {
			max-width: 50%
		}

		textarea {
			max-width: 70%;
			max-height: 180px;
		}

		input[type=submit] {
			background-color: @orange;
			color: @white;
			border: none;
			padding: 5px 8px;
			left: 300px;
		}

		&:nth-child(5) {
			margin-top: 165px;
		}
	}

	img, button {
		position: absolute;
		right: 20px;
	}
	img {
		top: 40px;
		max-width: 70px;
	}

	button {
		top: 10px;
		background-color: transparent;
		i {
			color: white;
		}
	}

	.wpcf7-response-output {
		color: @white;
		padding: 10px;
	}
}

.screen-reader-response {
	color: transparent;
}
// RESPOND TO REQUEST MODAL

#request-reply {
	.textarea {
		height: 170px;
	}
}


// Contacts

.left-side-bottom.contact {
	width: 100%;
}

// CALENDAR

.left-side.events {
	width: 75%;
	@media all and (max-width: @tablet) {
		width: 100%;
	}

	h2 {
		font-weight: 500;
		color: @orange;
		@media all and (max-width: @mobile) {
			display: none;
		}
	}
}

.selected-opt {
	font-weight: 700;
}

.right-side.events {
	top: 200px;
}

.add-event {
	background-color: transparent;
	color: @orange;
	padding: 5px;
	font-size: 16px;
	&.second {
		@media all and (max-width: @tablet) {
			display: none;
		}
	}
}

.calendar-pagination {
	padding-right: 60px;
	@media all and (max-width: @mobile) {
		display: none;
	}
}
#calendar {
	width: 100%;
	padding: 5px;
	min-width: 855px;
	max-width: 855px;
	@media all and (max-width: @mobile) {
		display: none;
	}
}
tbody {
	border: 1px solid @light-gray;
	width: 100%;
}

table {
	width: 100%;
}

.event {
	cursor: pointer;
	color: @main-blue;
	font-weight: 500;
	margin-bottom: 10px;

}
.calendar-row {
	text-align: right;
	border-bottom: 1px solid @light-gray;
}
.calendar-day-head {
	padding: 2px 4px;
	border-right: 1px solid @light-gray;
}

.calendar-row, .calendar-row-day {
	width: 100%;

	td {
		display: inline-block;
		width: 14.28%;
		min-width: 110px;
	}
}

.calendar-row-day {
	height: 150px;
	background-color: @white;

	&:last-child td {
		border-bottom: none;
	}
}
.calendar-day, .calendar-day-np {
	height: 103%;
	border-bottom: 1px solid @light-gray;
	border-right: 1px solid @light-gray;
	padding: 2px 4px;
	overflow-y: scroll;
}

.calendar-day-np {
	background-color: @light-gray;
}

.day-number {
	text-align: right;
}

.event-img {
	width: 100%;
	max-height: 45px;
	overflow-y: hidden;
}

//  UPCOMING

.upcoming {
	margin: 20px 0; 
	width: 90%;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
	
	h2 {
		margin-bottom: 40px;
	}

	li {
		display: inline-block;
		vertical-align: top;
		padding: 5px 10px;
		h4 {
			margin-top: 0;
		}
		
	}

	li:first-child {
		width: 8%;
		@media all and (max-width: @mobile) {
			width: 20%;
		}

	}

	li:nth-child(2) {
		width: 28%;
		h4 {
			padding: 0 10px;
			@media all and (max-width: @mobile) {
				padding: 0;
			}
		}
		@media all and (max-width: @mobile) {
			width: 80%;
		}
	}

	li:nth-child(3), li:nth-child(4) {
		width: 25%;
		@media all and (max-width: @mobile) {
			display: block;
			width: 100%;
			margin-left: 20%;
		}
	}

	.event {
		color: @black;
		&:hover {
			color: @middle-gray;
		}
	}

	p {
		font-weight: 300;
		color: @middle-gray;
		margin-bottom: 5px;
	}

	.image {
		height: 50px;
		width: 50px;
		background-color: blue;
	}

	//filter form
	select {
		width: 100px;
		padding: 5px;
	}
	input[type=submit] {
		background-color: @orange;
		color: @white;
		padding: 4px 6px;
		border: none;
	}
}

.mobile-only {
	display: none;
	@media all and (max-width: @mobile) {
		display: block;
	}
}
#show-all-upcoming {
	color:@white;
	background-color: @orange;
	padding: 5px 8px;
	border-radius: 2px;
	border: none;
	@media all and (max-width: @mobile) {
		display: none;
	}
}
#all-upcoming {
	display: none;
}
// RIGHT SIDE - SELECTED EVENT
.right-sidebar {
	color: @white;
	width: 80%;
	padding: 15px;
	border-radius: 4px;
	@media all and (max-width: @tablet) {
		max-width: 400px;
	}
	@media all and (max-width: @mobile) {
		width: 100%;
	}

	h2 {
		color: @white;
		margin-bottom: 20px;
		font-weight: 500;
	}

	h5 {
		text-align: center;
		margin: 20px 0 10px 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
	}
}

.selected {
	background-color: @main-blue;
	display: none;

	img.event {
		max-width: 100%;
		margin-bottom: 20px; 
		@media all and (max-width: @mobile) {
			margin: 0 auto 20px auto;
			display: block;
		}
	}
	img.small {
		max-width: 20px;
	}
	span {
		display: inline-block;
		vertical-align: top;
	}

	.host {
		width: 100%;

		span:first-child {
			margin-right: 10px;
		}

	}
	#user-avatar img {
		max-width: 100%;
	}
	p {
		font-weight: 300;
		color: @white;
		text-align: center;
		margin: 2px 0 5px 0;
		font-size: 14px;
		line-height: 20px;
	}
	section {
		text-align: left;
		width: 85%;
		margin: 30px auto 20px auto;

		a {
			text-align: left;
			color: @white;
			display: block;
			margin-bottom: 10px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.share {
		background-color: @orange;
		padding: 5px;
		color: @white;
		border-radius: 2px;
		margin: 2px auto 10px auto;
	}

	.share-btn {
		border-radius: 2px;
		margin-bottom: 20px;
		margin-left: 20px;
		display: none;
	}
}

.new-event {
	background-color: @event-gray;
	display: none;
	@media all and (max-width: @tablet) {
		margin: 0 auto;
	}

	input.full {
		width: 100%;
	}

	.title {
		font-size: 18px;
		&::-webkit-input-placeholder {
		   font-size: 18px;
		}
		&:-moz-placeholder { /* Firefox 18- */
		   font-size: 18px;  
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		   font-size: 18px;  
		}
	}

	::-ms-browse {
	    background-color: @orange;
	    color: @white;
	    padding: 5px;
	}
	::-webkit-file-upload-button {
	    background-color: @orange;
	    color: @white;
	    padding: 5px 10px;
	    border: none;
	    font-size: 12px;
	    border-radius: 2px;
	}
	
	.host {
		opacity: 0.5;
	}

	.def-width {
		width: 75%;
	}
	input, textarea {
		background-color: transparent;
		border-radius: 16px;
		border: none;
		padding: 3px 6px;
		max-width: 100%;
		font-weight: 400;
		-webkit-transition: all 1s ease;

		&:focus {
			border-color: @white;
			outline: none;
		}

		&.larger {
			padding: 5px 6px;
		}
		&.padding-left-none {
			padding-left: 0;
		}
	}

	textarea {
		width: 100%;
		min-height: 120px;
	}

	.input-opac {
		background-color: #929292;
	}
	
	input.centered {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	input[type=submit] {
		background-color: @orange;
		padding: 5px 8px;
		display: block;
		border-radius: 2px;
		margin: 10px auto 20px auto;
	}
	.location {
		padding: 10px 6px;
		margin-bottom: 35px;
	}
	.social-share {
		img {
			max-width: 25px;
		}
		input {
			display: inline-block;
			width: 80%;
		}
	}

	select {
		background-color: @event-gray;
		color: @white;
		margin: 10px auto;
	}
}

.organizations {
	background-color: @main-blue;
	color: @white;
	display: inline-block;

	li {
		margin-bottom: 5px!important;

		a {
			color: @white;
		}
	}
}

// ABOUT
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//
.about-header {
	width: 100%;
	min-height: 300px;
	margin-bottom: 40px;
	@media all and (max-width: @tablet) {
		margin-bottom: 10px;
	}
}
.about-text {
	width: 50%;
	padding: 20px;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
	p {
		color: @member-dark-gray;
	}
}
p.about-text, .values p {
	width: 80%;
	font-size: 24px;
	line-height: 30px;
	color: @about-gray;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
}
p.about-text {
	margin: 10px auto 40px auto;
	@media all and (max-width: @tablet) {
		margin-bottom: 10px;
	}
}
.about-thumbnail {
	width: 35%;
	margin: 2%;
	padding: 2%;
	height: 165px;
	@media all and (max-width: @tablet) {
		width: 100%;
	}
}
.values {
	margin-top: 40px;
	p {
		text-align: center;
		margin: 0 auto;
	}
}

.program-card {
	width: 31%;	
	margin: 1%;
	max-height: 300px;
	h3 {
		margin-bottom: 0;
	}
	h4 {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	p, h3 {
		color: @member-dark-gray;
	}
	@media all and (max-width: @tablet) {
		min-width: 200px;
		width: 100%;
	}

}
.sponsors {
	margin: 40px auto 0px auto;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 15px 30px;
	@media all and (max-width: @tablet) {
		width: 100%;
	}

	h3 {
		text-align: center;
		margin-bottom: 20px;
	}

	.thumbnail {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: inline-block;
	}
}

// MEMBERS
//* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *//

.pic-thumbnail {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
	margin: 10px auto;
}

.member-card {
	width: 48%;
	min-width: 370px;
	margin-right: 1.5%;
	position: relative;

	
	h3 {
		margin-bottom: 0;
	}
	h4 {
		margin-top: 0px;
		margin-bottom: 15px;
		padding: 0 10px;
	}
	p, h3 {
		color: @member-dark-gray;
		padding: 0 10px;
	}
	@media all and (max-width: @tablet) {
		min-width: 250px;
	}
	@media all and (max-width: @mobile) {
		min-width: 200px;
		width: 100%;
	}
}

.left-side {
	width: 65%;
	margin-right: 2%;

	@media all and (max-width: @tablet) {
		width: 100%;
		margin-right: 0;
	}
	h3.title {
		@media all and (max-width: @mobile) {
			width: 50%;
		}
	}
	a.absolute {
		right: 0;
		top: 15px;
		padding: 6px;

		img {
			max-width: 25px;
		}
	}
}

div.social {
	position: absolute;
	bottom: 30px;
	left: 35%;
	@media all and (max-width: @tablet) {
		left: 30%;
	}
}

.social img {
	max-width: 35px;
	margin: 5px 2px 0 0;
}
